 
  .rect{
  min-height: 500px; /* set height as you need */
  display: flex;
  flex-direction: column;
  background: grey;
  }

  #small-rect{
  background: green;
  height: 50px;
  }

  span{
      background-color: red;
      height: 20px;
      width:50px;
      border: 1px solid black;
      margin: 0 auto;
  }

  span:first-child {
    margin-top: auto;  
  }

